* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.2em; /*color: #393939;*/
    color: #444444;
    background-color: #eee;
}

div.content {
  margin: 1em 1em;
}

div.model-list {
  margin: 1em 2em 1em 1em;
}

iframe {
  width: 1060px;
  height:600px;
  border: none;
  overflow:hidden;
}