* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    line-height: 1.2em; /*color: #393939;*/
}

#container {
    margin: 0 auto;
    border: 0;
    padding: 0px 0px;
}

#container blockquote {
    margin: auto;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 1.0em;
    font-style: italic;
    line-height: 1.2em;
    padding-bottom: 10px;
}

#content {
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    background: #ffffff;
    padding: 5px 5px 5px 5px;
}

#content ul  {
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
}

#content ul li  {
    margin: 5px 5px 5px 5px;
    line-height: 1.2em;
}

#content p {
    color: #444444 !important;
    padding-bottom: 5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}

#content ul.hlist li {
    margin-left: 5px;
    line-height: 1.4em;
    color: #444444 !important;
    display: inline-table;
    vertical-align: top;
    list-style-type: none;
}

#webglCanvasContainer  {
    margin-left: 5px;
}

#webglCanvasContainer ul.hlist li  {
    margin: 5px 10px 5px 0px;
    line-height: 1.4em;
    color: #444444 !important;
}

#webglCanvasContainer p {
    color: #444444 !important;
    padding-bottom: 5px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5em;
}

pre {
  margin: 10px 5px 10px 5px;
  font-size: 1em;
  line-height: 1.1em;
  overflow: auto;
}

#stats, #step-count, #aloop-output {
  margin: 0px 1.5em;
  font-family: "New Courier", Courier, monospace;
  font-size: 85%;
  display: inline-block;
  height: 1em;
}

/* http://stackoverflow.com/questions/7615009/disable-interpolation-when-scaling-a-canvas */
canvas {
  image-rendering: optimize-contrast !important;
  -ms-interpolation-mode: nearest-neighbor !important;
  image-rendering: crisp-edges !important;

  image-rendering: -moz-crisp-edges !important;

  image-rendering: optimizeSpeed !important;
  image-rendering: pixelated;
}

#chart {
  background-color: #f7f2c5;
  width: 560px;
  height: 400px;
  border: solid 1px #cccccc; 
  position: relative; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.0px; }

circle {
  fill: none;
  stroke: #aa4400;
  stroke-width: 1.5px; }

circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; }
  circle.selected {
    fill: #ff7f0e;
    stroke: #ff7f0e; }

g.y {
  font-size: 0.9em;
}

g.x {
  font-size: 0.9em;
}

option {
  margin: 1px 4px 1px 4px;
}

fieldset {
  height: 2.5em;
}

#patchesCanvas {
  width:400px;
  height:400px;
  padding:0px;
  background-color:#D3D3D3;
  color:gray;
  border: solid 1px #cccccc
}

fieldset  {
    line-height: 1.2em;
    margin-top: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 90%;
    display: inline-block;
    list-style-type: none;
}

fieldset label  {
    margin: 2px 4px 2px 4px;
}
